<div id="shiftInputModal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content input-shift-modal">
        <div class="modal-header">
          <button id="updateCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Input Shift Information</h3>
        </div>
        <div class="modal-body">
          <form id="formUpdateShiftEst" name="updateShiftEst" method="post">
            <div class="row input-shift-modal__flex-row">
              <label for="fname">MPIK Heidelberg</label>
              <input class="input-shift-modal__input" id="fname" type="text" name="FirstName" />
            </div>

            <div class="row input-shift-modal__flex-row">
              <label for="fname" class="input-shift-modal__label">Rice</label>
              <input class="input-shift-modal__input" id="fnam" type="text" name="FirstName" />
            </div>  
            <br>
            <div class="input-shift-modal__buttons">
              <button>New institute</button>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
    </div>
  </div>
</div>