<!DOCTYPE html>
<html lang="en">
<head>
  <% include components/head %>
  <link rel="stylesheet" href="/shifts/stylesheets/bootstrap-social.css">
</head>
<body style="background-color: #30415d;">
  <div class="text-center">
    <div class="row" style="height: 50px;"></div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 bg-3" style="padding: 40px 50px 40px 50px;  border-radius: 3px;">
      <h3>Thank you!</h3>
      <h5>Your request has been received and will be reviewed by an administrator.</h5>
      <i class="far fa-solar-system"></i>
      <h4><a href="/shifts/">Back to Home</a></h4>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</body>
</html>