<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head', {base_url: base_url}); %>
    <link rel="stylesheet" href="<%= base_url %>/stylesheets/bootstrap-social.css">
</head>
<body>
    <%- include('components/menu', {base_url: base_url}); %> 
    <h1>Under Construction</h1>

</body>
</html>
