<!DOCTYPE html>
<html lang="en">
<head>
 <% include components/head %> 
</head>
<body>
<% include components/menu %>
<div class="container-fluid bg-3 text-center">    
  <h2 style="color: #031424">Institutes</h2><br>
  <div class="row">
    <div class="col-sm-12">
      <% for (i = 0; i < data.length; i++) {%>
          <a class="btn btn-institutes" href="/institutes/<%=data[i]%>"><%=data[i]%></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
      <%}%>
    </div>
  </div>
  <hr>
  <br>
  <h4>For full member directory visit <a href="/fulldirectory">/fulldirectory</a></h4>
</div>
</body>
</html>