<!DOCTYPE html>
<html lang="en">
<head>
 <% include components/head %> 
</head>
<body>
<% include components/menu %>
<div class="container-fluid bg-3 text-center">  
  <div class="row">
    <div class="col-sm-6">
      <h2 style="color:#031424;float:left;padding: 15px 0px 0px 35px;padding-bottom:20px;">Institutes</h2>
    </div>
    <div class="col-sm-6">
      <h4 style="text-align:right;padding:35px;">Number of Institutes: <%= institutes.length %></h4>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-12">
      <% for (i = 0; i < institutes.length; i++) {%>
          <a class="btn btn-institutes" href="/shifts/institutes/<%=institutes[i]%>"><%=institutes[i]%></a>
          &nbsp; &nbsp; &nbsp; &nbsp;
      <%}%>
    </div>
  </div>
  <hr>
  <br>
  <h4>For full member directory visit <a href="fulldirectory">/fulldirectory</a></h4>
</div>
</body>
</html>