<!DOCTYPE html>
<html lang="en">
<head>
  <% include components/head %>
  <link rel="stylesheet" href="/shifts/stylesheets/bootstrap-social.css">
</head>
<body style="background-color: #30415d;">
    <div class="container-fluid text-center">  
      <div class="row" style="height: 50px;"></div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 bg-3" style="padding: 50px 50px 80px 50px;  border-radius: 3px;">
          <h1 style="text-align:left;padding-left:25px;"><%= page %></h1>
          <br>
          <br>
          <form action="password" method="post">
            <div>
                <input type="text" name="username" placeholder="email"/>
            </div>
            <br>
            <div>
                <input type="password" name="password" placeholder="password"/>
            </div>
            <br>
            <div>
                <input type="submit" value="Submit"/>
            </div>
          </form>
          <br>
          <p class="text-center" style="color:#9e9e9e;">OR</p>
          <br>
          <!--Github-->
          <a href="/shifts/auth/github"><button type="button" class="btn btn-github" style="width: 90%; padding: 10px"><i class="fab fa-github pr-1"></i> Login with GitHub</button></a>
          <!-- LNGS -->
          <button type="button" data-toggle="modal" data-target="#LNGSmodal" class="btn" style="width: 90%; padding: 10px; margin-top:10px"><i class="fas fa-globe-americas"></i> Login with LNGS</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="modal fade" id="LNGSmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <br>
            <form method='post' action='/shifts/auth/ldap'>
              <div class="row">
                <div class="col-md-6 col-xs-12 form-group">
                  <label class="form-label" for='email'>LNGS ID</label>
                  <input class="form-control" type='text' name='user' required>
                <div class="col-md-6 col-xs-12 form-group">
                  <label class="form-label" for='password'>LNGS Password</label>
                  <input class="form-control" type='password' name='password' required>
                <br>
              </div>
              <button class="btn btn-info" type='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
