<!DOCTYPE html>
<style>
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}
</style>
<html lang="en">
<head>
 <% include components/head %> 
</head>
  <body>
    <% include components/menu %>
    <div class="container-fluid bg-3"> 
      <div class="row"></div>
        <div class="col-md-2 row-height"></div>
        <div class="col-sm-8 row-height">
          <h1><%= title %></h1>
          <form id="formAddUser" name="adduser" method="post" action="/adduser">
            <div>
              <label for="fname">First Name</label><br>
              <input id="fname" type="text" name="FirstName" />
            </div>
            <div>
              <label for="lname">Last Name</label><br>
              <input id="lname" type="text" name="LastName" />
            </div>
            <div>
              <label for="email">Email</label><br>
              <input id="email" type="email" name="Email" />
            </div>
            <div>
              <label for="position">Position</label><br>
              <input id="position" type="text" name="Position" />
            </div>
            <div>
              <label for="institute">Institute</label><br>
              <input id="institute" type="text" name="Institute" value=<%= cur_institute %> />
            </div>
            <div>
              <label for="time">Time</label><br>
              <input id="time" type="text" name="Time" />
            </div>
            <div>
              <label for="tasks">Tasks</label><br>
              <input id="tasks" type="text" name="Tasks" />
            </div>
            <div>
              <label for="mlists">Mailing Lists</label><br>
              <div class="inline-field">
                <label><input type="checkbox" id="mlist1" name="mlist1" value="Calibration"> Calibration</label>
              </div>
              <div class="inline-field">
                <input type="checkbox" id="mlist2" name="mlist2" value="Analysis"> <label for="mlist2"> Analysis</label>
              </div>
              <td>
              <input type="checkbox" id="mlist3" name="mlist3" value="TPC">
              TPC<br>
              </td>
            </div>
            <div>
              <label for="sdate">Start Date</label><br>
              <input id="sdate" type="text" name="StartDate" />
            </div>
            <div>
              <label for="edate">End Date</label><br>
              <input id="edate" type="text" name="EndDate" />
            </div>
            <br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="col-md-2 row-height"></div>
      </div>
    </div>
  </body>
</html>