<!DOCTYPE html>
<html lang="en">
<head>
    <% include components/head %>
    <link rel='stylesheet' href='/shifts/stylesheets/calendar.css'/>
    <link rel='stylesheet' href='/shifts/stylesheets/fullcalendar.min.css'/>
    <script src='/shifts/javascripts/fullcalendar.js'></script>
    <script src="/shifts/javascripts/bootstrap-select.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/shifts/stylesheets/bootstrap-select.min.css">
    <script src="/shifts/javascripts/shift_scripts.js" type="text/javascript"></script>
</head>
<body>
    <% include components/menu %>
    <div class="container-fluid bg-3 text-left">

        <!-- Shift Rules Tab -->
        <h4 style="width:100%;background-color:#30415d;color:white;margin-top:5px;padding:10px; border-radius: 15px 15px 0px 0px">Shifts from 2016</h4>
        <table id="marcTempTable" style="width:100%"></table>

    </div>
</body>
<script>
    $(document).ready(function() {
        MarcTempTable("#marcTempTable");
    });
</script>
</html>