/*
 * SITE COLORS:
 * #cf6766 coral
 * #30415d indigo
 * #031424 ultramarine
 * #8eaebd light blue
 *
 * XENON COLORS:
 * #355C99 blue
 * #30415d indigo
 * #031424 ultramarine
 * #cf6766 coral
 */

 body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Buttons */
.btn-coral { 
  padding: 10px 20px 10px 20px;
  border-radius: 4px; 
  margin: 8px;
  background-color: #cf6766;
  color: white ;
}

.btn-coral:hover {
  color: white;
  background-color: #ac5654;
}

/* Making the navbar colors */
.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: .5px;
  background-color: #30415d;
}
.navbar-nav li a{
  color: #f5f5f5 !important;
}
.navbar-nav  li a:hover {
  color: #d1d1d1 !important;
}
.navbar-nav li a:any-link{
  background-color: #30415d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: #30415d;
}

.dropdown-menu {
  letter-spacing: 1px;
  background-color: #30415d;
}

/* End of Navbar colors */

.active>a {
color: #2f2f2f !important;;
}

.btn-institutes {
  width: 150px; 
  border-radius: 15px; 
  margin: 8px;
  background-color: #b9c2d1;
  color: #031424;
}

.btn-institutes:hover {
  color: white;
  background-color: #30415d;
}

.det_card{
  padding: 10px;
  background-color: white;
  color: #333333;
  border: solid 1px #cccccc;
  height:120px;
  overflow: clip;
}
.det_card_noheight{
  padding: 10px;
  background-color: white;
  color: #333333;
  border: solid 1px #cccccc;
}

input:not([type=checkbox], [type=search]) {
  width: 90%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  
}

input[type=submit] {
  background-color: #8eaebd;
  border: none;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

details {
  border-top: .5px solid #aaa;
  border-bottom: .5px solid #aaa;
  border-radius: 0px;
  padding: 1em 1em .5em;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: 1em 1em .5em;
  border: 1px;
  background-color: #f0f0f0;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

/* admin styles */
.sidebar {
  padding: 0px !important;
  height: 1400px !important;
  background-color: #3c4758;
}

.sidebar-pill li.active a{
  background-color: #ffffff2f !important;
  border-radius: 0px;
  color: #f3f3f3 !important;
}

.sidebar-pill li a{
  color: #f3f3f3;
  padding: 15px 55px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #ffffff23;
}

.sidebar-pill li a:hover{
  border-radius: 0px;
  background-color: #ffffff88 !important;
}

/* buttons */
.btn-circle {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 14px;
  border: 1px solid lightgray;
}
.btn-circle:hover {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #d3d2d2;
  border: 1px solid lightgray;
}

.red{
  padding-left: 8px;
  padding-right: 8px;
  font-size: inherit;
  background-color: #aa1212a8;
  border: 1px solid #aa12123a;
  color: white;
}

/* Autocomplete box */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}