.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Making the navbar colors */
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #30415d;
}
.navbar-nav li a{
  color: #f5f5f5 !important;
}
.navbar-nav  li a:hover {
  color: #d1d1d1 !important;
}
.navbar-nav li a:any-link{
  background-color: #30415d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: #30415d;
}

.dropdown-menu {
  background-color: #2e3746;
}

/* End of Navbar colors */

.active>a {
color: #2f2f2f !important;;
}

.btn-institutes {
  width: 150px; 
  border-radius: 50px; 
  margin: 8px;
  background-color: #b9c2d1;
  color: #031424;
}

.btn-institutes:hover {
  color: white;
  background-color: #30415d;
}

.det_card{
  padding: 10px;
  background-color: white;
  color: #333333;
  border: solid 1px #cccccc;
  height:120px;
  overflow: clip;
}
.det_card_noheight{
  padding: 10px;
  background-color: white;
  color: #333333;
  border: solid 1px #cccccc;
}

input:not([type=checkbox]) {
  width: 90%;
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

input[type=submit] {
  background-color: #8eaebd;
  border: none;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

details {
  border-top: .5px solid #aaa;
  border-bottom: .5px solid #aaa;
  border-radius: 0px;
  padding: 1em 1em .5em;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: 1em 1em .5em;
  border: 1px;
  background-color: #f0f0f0;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

.panel-default > .panel-heading {
  background-color:#8eaebd; 
}